#wizards {
    border-collapse: collapse;
    width: 90%;
}

#wizards td,
#wizards th {
    border: 1px solid #ddd;
    padding: 6px;
}

#wizards tr:nth-child(even) {
    background-color: lightblue;
}

#wizards tr:hover {
    background-color: lightcoral;
    cursor: pointer;
}

#wizards th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgoldenrodyellow;
}
